
@media screen and (min-width: 905px){
   .contn {
      width: 875px;
   }
   .content-footer{
      top: 114.3%;
   }
   .services1 p {
      width: 100%;
      left: 0;
      bottom: 35%;
   }
   .services1 h4 {
      bottom: 15%;
   }
   ion-icon {
      margin-top: 25px;
   }

   .image-laptop {
      top:81px;

   }
   .image-laptop img {
      height: 300px;
   }
   .div-right {
      top: 5%;
   }
   .div-right > .h4-tittle {
      top: -42px;
   }
   .paragraph-tittle {
      top: -66px;
   }
   .slide-container {
      max-width: 1110px;
   }
}

@media screen and (width: 2560px){
    .navbar {
       width: 1660px;
    }
    .ul-menu li {
       margin-left: 48px;
    }
    .login-form {
       top: 13%;
        left: 52%;
    }
    .contn {
       top: 14%;
       left: 9%;
    }
    .content-footer {
       top: 47.3%; 
    }
    .services1 > p {
       left: 161px;
    }
    .block {
       top: 120px;
    }
    .block3 {
       top: 383px;
    }
    .footer-col > h4 {
       font-size: 30px;
    }
    .foter-ul  li a {
       font-size: 20px;
    }
    }
   @media screen and (width: 1024px) {
       .navbar {
          width: 819px;
       }
       .contn {
          width: 775px;
          top: 16%;
       }
       .contn h1 {
          font-size: 34px;
       }
       .contn span {
          font-size: 38px;
       }
       .contn .par {
         width: 52%;
          line-height: 26px;
       }
       .login-form {
         left: 56%;
         top: 16%;
       }
       .content-footer {
          top: 54.3%;
       }
       .services1 p {
          width: 100%;
        height: 100px;
        position: relative;
        bottom: 58px;
        left: 4px;
        margin: 0;
        padding: 0;
        font-size: 11px;
        place-self: center;
        line-height: normal;
       }
       .secondmain {
          height: 970px;
       }
       .image-phone img {
          height: 300px;
       }
       .image-laptop img {
          height: 250px;
       }
       .slide-left > .tittle-h2 {
          font-size: 30px;
       }
       .slide-left > h4 {
          font-size: 18px;
          top: -13px;
       }
       .slide-left > p {
          top: -26px;
       }
       .block3 {
          top: 322px;
       }
       .div-right {
          top: -6%;
          left: 48%;
       }
       .div-right > .tittle-h3 {
          font-size: 38px;
       }
       .div-right > .h4-tittle{
          font-size: 20px;
          top: -34px;
       } 
       .paragraph-tittle {
         margin-top: 44px;
       }
       .img-laptop {
         top: -66px;
         left: 29%;
       }
       .container{
         left: 21%;
       }
       .container p {
         position: relative;
          top: 64px;
       }
       .container h1 {
         position: relative;
         top: 56px;
       }
       .container a {
         position: relative;
         top: 57px;
       }
       .ul-menu {
          margin-left: 0;
    
       }
       .ul-menu li {
          margin-left: 55px;
       }
       
       .footer-col {
          width: 22%;
       }
    }