 @media screen and (width: 2560px){
    .navbar {
       width: 1660px;
    }
    .ul-menu li {
       margin-left: 48px;
    }
    .login-form {
       top: 13%;
        left: 52%;
    }
    .contn {
       top: 14%;
       left: 9%;
    }
    .content-footer {
       top: 47.3%; 
    }
    .services1 > p {
       left: 161px;
    }
    .block {
       top: 120px;
    }
    .block3 {
       top: 383px;
    }
    .footer-col > h4 {
       font-size: 30px;
    }
    .foter-ul  li a {
       font-size: 20px;
    }
    }
   @media screen and (width: 820px) {
       .navbar {
          width: 819px;
       }
       .contn {
          width: 775px;
          top: 16%;
       }
       .contn h1 {
          font-size: 34px;
       }
       .contn span {
          font-size: 38px;
       }
       .contn .par {
          width: 42%;
          line-height: 26px;
       }
       .login-form {
          left: 56%;
          top: 20%;
       }
       .content-footer {
          top: 64.3%;
       }
       .services1 p {
          width: 100%;
        height: 100px;
        position: relative;
        bottom: 58px;
        left: 4px;
        margin: 0;
        padding: 0;
        font-size: 11px;
        place-self: center;
        line-height: normal;
       }
       .secondmain {
          height: 970px;
       }
       .image-phone img {
          height: 300px;
       }
       .image-laptop img {
          height: 250px;
       }
       .slide-left > .tittle-h2 {
          font-size: 30px;
       }
       .slide-left > h4 {
          font-size: 18px;
          top: -13px;
       }
       .slide-left > p {
          top: -26px;
       }
       .block3 {
          top: 322px;
       }
       .div-right {
          top: -6%;
       }
       .div-right > .tittle-h3 {
          font-size: 38px;
       }
       .div-right > .h4-tittle{
          font-size: 20px;
          top: -34px;
       } 
       .paragraph-tittle {
          margin-top: -51px;
       }
       .ul-menu {
          margin-left: 0;
    
       }
       .ul-menu li {
          margin-left: 55px;
       }
       
       .footer-col {
          width: 22%;
       }
    }